.jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

.navbar {
    background-color: #9C4343;
    height: 80px;
    position: fixed;
}

.menu-item {
    color: white;
    font-family: "Jockey One", sans-serif;
    text-align: center;
    margin: 0;
}

.foto-carbonara {
    width: 100%;
}

.foto {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.overlay {
    position: absolute;
    top: 50%; /* Posiziona il quadrato al centro verticale */
    left: 50%; /* Posiziona il quadrato al centro orizzontale */
    transform: translate(-50%, -57%); /* Sposta il quadrato di metà della sua dimensione */
    width: 100%; /* Larghezza del quadrato */
    height: 88%; /* Altezza del quadrato */
    background-color: #9c434363; /* Colore di sfondo del quadrato con trasparenza */
  }
