body {
  font-family: 'Inter', sans-serif;
}

/* LOGO */
#logo {
  background-color: rgb(242, 253, 175);
  text-align: center;
  padding: 10px;
}

#logo-navbar {
  height: 80px;
}

/* MENU */
.menu-item {
  font-family: "Jockey One", sans-serif;
  color: #000103;
  padding: 8px 16px;
}

.menu-item:hover {
  background-color: #000103;
  color: rgb(242, 253, 175);
  border-radius: 8px;
}

/* TITOLI */
.titolo {
  text-align: center;
  font-family: "Jockey One", sans-serif;
  background-color: rgb(242, 253, 175);
  padding: 20px;
  margin: 0;
}

/* SEZIONI */
.sezione {
  padding: 30px;
  background-color: floralwhite;
}

/* IMMAGINI */
.img-sezione {
  width: 80%;
  border: 4px solid #484545;
}

/* TESTO */
p {
  font-size: 18px;
  text-align: justify;
}

/* CONTATTI */
.contatti {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* FOOTER */
.footer {
  background-color: #000103;
  color: white;
  padding: 20px;
}