.jockey-one-regular {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

  #navbarMenu {
    background-color: rgb(242, 253, 175);
    position: sticky;
}

.div-giallo{
    background-color: rgb(242, 253, 175);
}
.navbar, .navbar-expand-md, .navbar-light, .bg-light {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
}


/* VERSIONE MOBILE */
@media (max-width: 768px) {
    #navbar {
        position: static;
        justify-content: center;
    }

    .menu-item {
        flex: 1 1 40%; /* Due elementi per riga */
    }
}

p{
    font-size: 18pt;
    text-align: justify;
}

#logo-navbar{
    display: block;
    height: 80px;
}

#logo{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(242, 253, 175);
    padding: 0;
    margin: 0;
    height: auto; 
}


.menu-item {
    color: rgb(-0, 1, 3);
    font-family: "Jockey One", sans-serif;
    text-align: center;
    margin-top: 8px;
    padding: 8px 16px;
    text-decoration: none;
    background-color: transparent;
    border-radius: 8px;
}

.menu-item:hover{
    color: rgb(242, 253, 175);
    background-color: rgb(-0, 1, 3);
}

.foto {
    padding-left: 0px !important;
    padding-right: 0px !important;
    height: fit-content;
}

.immagine {
    border: 4px solid #484545;
    width: 35%;   
}

.foto-carbonara{
    width: 100%;
}

.nome-sezione{
    font-family: "Jockey One", sans-serif;
    text-align: center;
    color: rgb(-0, 1, 3);
    font-size: 50pt;
}

.titolo-sezione{
    background-color: rgb(242, 253, 175);
}

.sezione{
    background-color:floralwhite;
    padding: 20px
}

#immagine-esterno{
    width: 50%;
    border: 4px solid #484545;
    
}

.div-immagine{
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo-contatti{
    color: rgb(-0, 1, 3);
    font-family: "Jockey One", sans-serif;
}

#div-contatti{
    display:inline-flex;
    justify-content: center ;
    flex-direction: column;
}

.footer{
    background-color: rgb(-0, 1, 3);
    color: white;
    height: 25vh;
}

a[href^="#"] {
    text-decoration: none;
}
